#ifndef YEAST_MSG_HELPER_GEN_H_
#define YEAST_MSG_HELPER_GEN_H_

#include "yeastcpp/yeastcpp.hpp"

{%for header_name in header_names %}
#include "yeast_ros2_interfaces/msg/{{header_name}}.hpp"
{% endfor %}

namespace yeast_msg_helper
{
{%for typename, (primitives, refs) in type_members.items() %}
    yeast_ros2_interfaces::msg::{{typename}} to_msg(yeast_motion::{{typename}} yeast_type);
    yeast_motion::{{typename}} from_msg(yeast_ros2_interfaces::msg::{{typename}} msg);

{% endfor %}
}

#endif /* YEAST_MSG_HELPER_GEN_H_ */
